#container1 {
	width: 20em;
	text-align: right;	
    display: inline-block;
}

#container2 {
	margin-left: 5em;
    display: inline-block;
}

#container2 > div {
	border: solid 1px gray;
    overflow: auto;
    height: 16em;
	width: 15em;
}

#container3 {
	margin-left: 5em;
    display: inline-block;
}

#container3 > div {
	border: solid 1px gray;
    overflow: auto;
    height: 16em;
	width: 15em;
}

input {
	margin: 1em;
}

button {
	margin: 0.4em;
	padding: 0.4em;
	width: 100%;
}

#loading {
	display: none;
}

#loading img {
	width: 35px;
	height: 35px;
	top: 0.1em;
    left: 1em;
    position: relative;
}